<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.openai.mapper.TblProjectUserMapper">

    <resultMap id="BaseResultMap" type="com.mk.openai.entity.dao.TblProjectUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,user_id,
        role
    </sql>
</mapper>
