<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.openai.mapper.TblProjectBaseMapper">

    <resultMap id="BaseResultMap" type="com.mk.openai.entity.dao.TblProjectBase">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="ask" column="ask" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,ask,
        answer,sort
    </sql>
</mapper>
