<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.openai.mapper.TblRegulationMapper">

    <resultMap id="BaseResultMap" type="com.mk.openai.entity.dao.TblRegulation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_path,
        category_id
    </sql>
</mapper>
